<section>
  <div class="m-6 p-6 border rounded-3xl featureHover">
    <div class="w-fit mx-auto text-center">
      <img class="w-96"
        src="../../../../../assets/img/empty cart.png"
        alt="">
      <h4 class="my-2 font-semibold md:text-3xl sm:text-2xl text-txtMain">Your cart is empty.</h4>
      <h6 class="my-2 text-base text-txtP">In order to shop, add items to it.</h6>
      <button routerLink="/home"   style="background-color: #78614F "class="normal !text-white hover:bg-white hover:text-black">Shop
        </button>
    </div>
  </div>
</section>
