<!-- <p>categories works!</p> -->
<!DOCTYPE html>
<html>
    <head>
        <title>Document</title>
    </head>
    <body>
        <img src="../../assets/img/categories.jpg" style="margin-left: 160px; margin-top: 30px;">


        
    </body>
    </html>




<br>
  <section id="newdrops" class="section-p1 flex sm:flex-col md:flex-row mt-3 lg:items-start sm:items-center">
    <h2 style="size : 70px">DISCOVER NEW DROPS <br> ON <span style="color : #8A0001">SALE</span> SECTION %</h2>
  </section>

  