@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Mukta:wght@200;300&family=Sarala&family=Sedgwick+Ave&display=swap');
* {
    box-sizing: border-box;
  }
  body {
    font-size: 14px;
  }
  .v211_83 {
    width: 100%;
    height: 2415px;
    background: rgba(253,247,242,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v211_84 {
    width: 150px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 18px;
    left: 69px;
    font-family: Sarala;
    font-weight: Bold;
    font-size: 35px;
    opacity: 1;
    text-align: left;
  }
  .v211_85 {
    width: 114px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 34px;
    left: 253px;
    font-family: Sarala;
    font-weight: Regular;
    font-size: 19px;
    opacity: 1;
    text-align: left;
  }
  .name {
    color: #fff;
  }
  .name {
    color: #fff;
  }
  .v211_89 {
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 29px;
    left: 1171px;
    overflow: hidden;
  }
  .v211_90 {
    width: 40px;
    height: 40px;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    border-radius: 50%;
  }
  .v211_94 {
    width: 336px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 29px;
    left: 713px;
    border: 1px solid rgba(0,0,0,1);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    overflow: hidden;
  }
  .v211_95 {
    width: 20px;
    height: 20px;
    background: rgba(0,0,0,1);
    opacity: 1;
    position: absolute;
    top: 39px;
    left: 730px;
  }
  .v211_96 {
    width: 55px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 35px;
    left: 763px;
    font-family: Sarala;
    font-weight: Regular;
    font-size: 18px;
    opacity: 1;
    text-align: left;
  }
  .v211_97 {
    width: 20px;
    height: 20px;
    background: rgba(0,0,0,1);
    opacity: 1;
    position: absolute;
    top: 39px;
    left: 1181px;
  }
  .v211_100 {
    width: 70px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 34px;
    left: 404px;
    font-family: Sarala;
    font-weight: Regular;
    font-size: 19px;
    opacity: 1;
    text-align: left;
  }
  .v211_124 {
    width: 100%;
    height: 580px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 128px;
    left: 69px;
    overflow: hidden;
  }
  .v211_114 {
    width: 100%;
    height: 580px;
    background: rgba(217,217,217,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    overflow: hidden;
  }
  .v417_106 {
    width: 100%;
    height: 580px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v211_126 {
    width: 100%;
    height: 580px;
    background: rgba(0,0,0,0.33000001311302185);
    opacity: 1;
    position: absolute;
    top: 128px;
    left: 69px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    overflow: hidden;
  }
  .v211_127 {
    width: 435px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 348px;
    left: 422px;
    font-family: Sarala;
    font-weight: Bold;
    font-size: 60px;
    opacity: 1;
    text-align: left;
  }
  .v211_128 {
    width: 226px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 446px;
    left: 527px;
    font-family: Sarala;
    font-weight: Regular;
    font-size: 40px;
    opacity: 1;
    text-align: left;
  }
  .v211_129 {
    width: 100%;
    height: 454px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 864px;
    left: 69px;
    overflow: hidden;
  }
  .v211_130 {
    width: 178px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 375px;
    left: 14px;
    font-family: Sarala;
    font-weight: Regular;
    font-size: 30px;
    opacity: 1;
    text-align: left;
  }
  .v211_131 {
    width: 130px;
    color: rgba(172,170,170,1);
    position: absolute;
    top: 414px;
    left: 14px;
    font-family: Sarala;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v211_132 {
    width: 362px;
    height: 362px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v211_133 {
    width: 362px;
    height: 362px;
    background: rgba(217,217,217,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    overflow: hidden;
  }
  