<!-- component -->
<div class="h-screen w-screen" style="background-color: #FDF7F2 ;">
  <div class="flex flex-col items-center flex-1 h-full justify-center px-4 sm:px-0">
      <div class="flex rounded-lg shadow-lg w-full sm:w-3/4 lg:w-1/2 bg-white sm:mx-0" style="height: 500px">
          <div class="hidden md:block md:w-1/2 rounded-r-lg" style="background: url(../../assets/img/login.png); background-size: cover; background-position: center center;"></div>
      <div class="flex flex-col w-full md:w-1/2 p-4">
          <div class="flex flex-col flex-1 justify-center mb-8">
              <h1 class="text-4xl text-center font-thin">Sign up</h1>
              <div class="w-full mt-4">
                  <form class="form-horizontal w-3/4 mx-auto" onsubmit="return validateForm()" action="#">
                      <div class="flex flex-col mt-4 relative">
                          <input id="email" type="text" class="flex-grow h-10 px-2 pl-10 rounded-full border border-black" name="email" value="" placeholder="Email" required>
                          <i class="fas fa-envelope absolute left-3 top-3 text-gray-400"></i>
                      </div>
                      
                      <div class="flex flex-col mt-4 relative">
                          <input id="password" type="password" class="flex-grow h-10 px-2 pl-10 rounded-full border border-black text-black" name="password" required placeholder="Password" required>
                          <i class="fas fa-lock absolute left-3 top-3 text-gray-400"></i>
                      </div>
                      
                      <div class="flex flex-col mt-4 relative">
                          <input id="confirmPassword" type="password" class="flex-grow h-10 px-2 pl-10 rounded-full border border-black text-black" name="confirmPassword" required placeholder="Confirm password" required>
                          <i class="fas fa-lock absolute left-3 top-3 text-gray-400"></i>
                      </div>
                      
                      <div class="flex flex-col items-center mt-4">
                          <button routerLink = "/home" type="submit" style="background-color: #78614F; color : white" class="h-10 px-2 rounded-full w-32">
                              Sign in
                          </button><br>
                          <p class="text-sm text-gray-500 mt-2" style="color: black">Already have an account? <span style="color:#78614F ;"><a href="/login">Sign in.</a></span></p>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
</div>
</div>
<script>
  function validateForm() {
      var email = document.getElementById("email").value;
      var password = document.getElementById("password").value;
      var confirmPassword = document.getElementById("confirmPassword").value;
      
      if (email === "" || password === "" || confirmPassword === "") {
          alert("Please fill in all fields.");
          return false;
      }
      
      return true;
  }
</script>